/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
:root{
        --primary-color: #0084fd;
        --primary-color-light: #b5ddff;
        --secondary-color: #b5ddff;
        --secondary-color: #9792e4;
    
        /* padding */
        --padding-sm: .625rem;
}
.main-nav .lista a{
   text-decoration: none;
   color: white;
   padding: 10px;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
}
.wrap{
    display: flex;
    flex-wrap:wrap ;
}
.container{
    max-width: 71.25rem;
    margin: 0 auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.space-between{
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.625rem;

}

.col {
    width: 100%;
}

.inline-style {
    display: flex;
    list-style: none;
}

section {
    padding: 1.25rem 0;
}
.text-center{
    text-align: center;
}
/* header */
header{
    background-color:var(--primary-color);
    color: white;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}
header .main-nav{
    display: none;
}

@media screen and (min-width: 992px){
    header .main-nav{
        display: block;
    }
    .menu{
        display: none;
    }
}


/* main */
 
#demo .col,
#benefits .col{
    margin-bottom: 1.5625rem;
    padding: .625rem
}
#demo .col-content {
    background-color: var(--primary-color-light);
    height: 6.25rem;
    border-radius: 1.25rem;
   
}
@media screen and (min-width: 768px){
    /* .row{
        display: flex;
    } */
    #demo .col {
        width: calc(100% / 3);
    }
    #demo .col-main {
        width: calc((100% / 3) * 2);
    }
}


/* second section */

#planning {
    background-color: var(--secondary-color);
}

#planning .row {
   align-items: flex-end;
 }

 
  #planning .col:last-child{
    background-color: white;
    border-radius: 1.25rem;
    margin-top: 2.5rem;
  }
   #planning .col img{
    width: 80%;
  } 


@media screen and (min-width: 992px){

    #planning .row {
       padding: 0 8.125rem;
    }

    #planning .col {
        width: 50%;
    }

}


#testimonials .cont-plan{
    background-color: #9792e4;
    border-radius: .625rem;
    color: white;
    padding: 1.875rem;
    margin-top: 2.5rem;
    width: 100%;
}

#testimonials .cont-plan img{
    width: 10rem;
    height: 100%;
    border-radius: 40%;
    margin-right: 1.25rem;
}

#benefits{
    background-color: #9792e4
}
#benefits .col-content{
    background-color: white;
    height: 6.25rem;
    border-radius: 1.25rem;
}


@media screen and (min-width: 768px){
    
    #benefits .col {
        width: calc(100% / 3);
    }
    
}
#about .col-one{
    width: 80%;
}
#about .col-two{
    width: 20%;
}
#about img{
    width: 1.875rem;
}

@media screen and (min-width: 768px){
    
    #about .col {
        width: calc(100% / 2);
    }
  
}

#start{
    background-color: #9792e4;
}
/* footer */

#footer{
    background-color: black;
    color: white;
}

#footer .col-content p{
    width: 60%;
    margin: 0 auto;

}